<router-outlet></router-outlet>
<!-- <button (click)='startTimer()'>Start Timer</button>
<button (click)='pauseTimer()'>Pause</button>

<p>{{remainingTime || breakRemainingTime}} Seconds Left....</p> -->


<div class="timer">
  <h1 id="heading" [ngClass]="{'fade-in': headingText}">{{ headingText }}</h1>
  <p>
    {{ displayTime }}
  </p>
  <div>
    <button style="margin-right: 5px;" (click)="startTimer();setRandomHeadingText()">
      <span>
        Start
      </span>
    </button>
    <button (click)="pauseTimer()">
      <span>
        Pause
      </span>
    </button>
  </div>