
/* Reset css */

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
footer {
  text-align: center;
}
footer a {
  color: rgb(212, 186, 236);
  text-decoration: none;

}
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Neon&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Tilt Neon', cursive;
    background: url(./assets/wallpaper2.gif) center center fixed;
    background-size: cover;
}